@import '../../scss/vars';

.sign-up {
  &__heading {
    &__text {
      font-weight: 300;
      text-align: center;
      margin: 1rem 0 1rem 0;
    }

    &__img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      margin-bottom: 1rem;
    }
  }

  &__form {
    &__input {
      margin-bottom: 1rem;
    }

    &__btn {
      margin: 0 auto;
      background-color: $color-primary;
      color: #fff;
      width: 100%;
      margin-bottom: 1rem;

      &:disabled {
        background-color: $color-divider;
      }
    }

    &__link {
      display: block;
      color: $color-primary;
      text-decoration: none;
      text-align: center;

      &:active,
      &:hover,
      &:focus {
        text-decoration: underline;
        outline: none;
      }
    }
  }

  &__loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
