.feed {
  background-color: #eee;
  height: 100vh;
}

.newPost {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  margin-bottom: 0.5rem;
}

.link {
  background-color: #eee;
  height: 70%;
  padding: 0.3rem 3rem 0.5rem 0.5rem;
  border-radius: 10px;
}
