@import '../../../scss/vars';

.form-control {
  width: 100%;

  &__input {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 3rem;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #efefef;
    transition: all 0.3s ease-in;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }

  &__helper {
    display: block;
    font-size: 0.9rem;
    margin-left: 20px;
    margin-top: 5px;
  }
}
