.header {
  background-color: #fff;
  height: 4rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.text {
  font-weight: 400;
  font-size: 2rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-top: 3px;
  margin-right: 1rem;
}

.link:focus,
.link:active {
  outline: none;
}
