.post {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.data {
  margin-left: 1rem;
}

.author {
  font-size: 1.5rem;
}

.date {
  font-size: 0.8rem;
}

.img {
  width: 100%;
}

.text {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.likes {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #e53e3e;
}

.btn:focus,
.btn:active {
  outline: none;
}

.commentsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
