@import '../../../scss/vars';

.alert {
  color: #fff;
  padding: 1rem 20px;
  margin-bottom: 1rem;
  border-radius: 7px;
}

.error {
  background-color: $color-error;
}

.success {
  background-color: $color-success;
}
